 body, html {
            font-family: Arial, sans-serif;
            margin: auto;
            padding: 1px;
            background-color: white;
        }

        body {
            max-width: 1200px;
            margin: auto;
        }
        
        header {
            background-color: lightskyblue;
            color: black;
            padding: 1em 0;
            text-align: center;
        }


        /* Animation */

        abbr {
            color:blue;
            font-weight: bold;
            transition: color 0.5s ease;
        }
        @media (hover:hover) {
            abbr:hover {
                color: red;
                transition-duration: 0.5s;
            }
        }


        /* Nav */

        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a {
            color: black;
            text-decoration: none;
            border:1 px solid black;
        }


        /* Espace entre les sections */

        section {
            padding: 2em;
        }


        /* Bas de page */

        footer {
            background-color: lightskyblue;
            color: black;
            text-align: left;
            padding: 20px;
        }


        /* Pour les div de nav */

        div#accueil {
            background-color: white;
            padding: 20px;
            margin: auto;
            width: 500px;
        }
        div#spots {
            background-color: white;
            padding: 20px;
            margin: auto;
            width: 500px;
        }
        div#nos-prix {
            background-color: white;
            padding: 20px;
            margin: auto;
            width: 500px;
        }
        div#conseils {
            background-color: white;
            padding: 20px;
            margin: auto;
            width: 500px;
        }
        div#inscription {
            background-color: white;
            padding: 20px;
            margin: auto;
            width: 500px;
        }


        /* Boutton d'inscription */

        div#button {
            background-color: white;
            padding: 20px;
            margin: 50px;
            width: 500px;
        }


        /* Pour les images */

        #image-enfant {
            max-width: 100%;
            height: auto;
            width: 300px;
            height: 150px;
        }

        .logo {
            width: 60px;
            height: 60px;
        }


        /* Media Queries pour le changement d'écrans */

        @media (max-width: 768px) {
            body {
                padding: 10px;
            }
            div#accueil, div#spots, div#nos-prix, div#conseils, div#inscription, div#button {
                width: 100%;
                padding: 10px;
            }
            div#image-enfant {
                width: 100%;
                height: auto;
            }
        }