css/
base/
composant/
header.css
body.css
footer.css
mise en page/

header.css{
    background-color: white;
    position: fixed;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 100px
    text-align: center;
    .rectangle {
        width: 100px;
        height: 50px;
        background-color: white;
        position:fixed;
        box-shadow:2px;
        text-align: center;
    }   
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 210px;
    .rectangle {
        width: 100px;
        height: 50px;
        background-color: white;
        position:fixed;
        box-shadow:2px;
        text-align: center;
    }
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
header {
    border: 2px solid black;

    background-color: rgb(244, 247, 244);
}
.rectangle {
    width: 100px;
    height: 50px;
    background-color: rgb(236, 232, 232);
}
.parent { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}